.card-item {
    background-color: #95daba;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    transform: translate2d(0);
    transition: transform 0.25s ease-out;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
}

.card-item:hover {
    transform: scale(1.05);
}